<template>
  <q-page padding>
    BLUETOOTH PAGE: {{ disponible }} <br />
    Conectado: {{ connected }} <br />
    <button v-on:click="scan">SCAN</button></q-page
  >
</template>

<script setup>
import { ref } from "vue";
const infoServicios = {
  "a3941db0-a97c-4cf1-943f-a25ff9ba40cd": {
    name: "a3941db0-a97c-4cf1-943f-a25ff9ba40cd",
    uuid: "a3941db0-a97c-4cf1-943f-a25ff9ba40cd",
  },
  device_information: {
    name: "device_information",
    uuid: "0000180a-0000-1000-8000-00805f9b34fb", //I
    caracteristicas: [
      {
        name: "firmware_revision_string", //17.0
        uuid: "00002a26-0000-1000-8000-00805f9b34fb", //J
        authenticatedSignedWrites: false,
        broadcast: false,
        indicate: false,
        notify: false,
        read: true,
        reliableWrite: false,
        writableAuxiliaries: false,
        write: false,
        writeWithoutResponse: false,
        valor: "",
      },
      {
        name: "hardware_revision_string", //nRF52832
        uuid: "00002a27-0000-1000-8000-00805f9b34fb", //K
        authenticatedSignedWrites: false,
        broadcast: false,
        indicate: false,
        notify: false,
        read: true,
        reliableWrite: false,
        writableAuxiliaries: false,
        write: false,
        writeWithoutResponse: false,
        valor: "",
      },
      {
        name: "software_revision_string", //1.0
        uuid: "00002a28-0000-1000-8000-00805f9b34fb", //L
        authenticatedSignedWrites: false,
        broadcast: false,
        indicate: false,
        notify: false,
        read: true,
        reliableWrite: false,
        writableAuxiliaries: false,
        write: false,
        writeWithoutResponse: false,
        valor: "",
      },
      {
        name: "manufacturer_name_string", //Chainway
        uuid: "00002a29-0000-1000-8000-00805f9b34fb",
        authenticatedSignedWrites: false,
        broadcast: false,
        indicate: false,
        notify: false,
        read: true,
        reliableWrite: false,
        writableAuxiliaries: false,
        write: false,
        writeWithoutResponse: false,
        valor: "",
      },
    ],
  },
  generic_access: {
    name: "generic_access",
    uuid: "00001800-0000-1000-8000-00805f9b34fb", //G
    caracteristicas: [
      {
        name: "gap.device_name", //Nombre, por defecto la mac. 12 bytes
        uuid: "00002a00-0000-1000-8000-00805f9b34fb", //H
        authenticatedSignedWrites: false,
        broadcast: false,
        indicate: false,
        notify: false,
        read: true,
        reliableWrite: false,
        writableAuxiliaries: false,
        write: true,
        writeWithoutResponse: false,
        valor: "",
      },
      {
        name: "gap.appearance", //00 00
        uuid: "00002a01-0000-1000-8000-00805f9b34fb",
        authenticatedSignedWrites: false,
        broadcast: false,
        indicate: false,
        notify: false,
        read: true,
        reliableWrite: false,
        writableAuxiliaries: false,
        write: false,
        writeWithoutResponse: false,
        valor: "",
      },
      {
        name: "gap.peripheral_preferred_connection_parameters", //06 00 18 00 00 00 90 01
        uuid: "00002a04-0000-1000-8000-00805f9b34fb",
        authenticatedSignedWrites: false,
        broadcast: false,
        indicate: false,
        notify: false,
        read: true,
        reliableWrite: false,
        writableAuxiliaries: false,
        write: false,
        writeWithoutResponse: false,
        valor: "",
      },
      {
        name: "gap.central_address_resolution_support", //01
        uuid: "00002aa6-0000-1000-8000-00805f9b34fb",
        authenticatedSignedWrites: false,
        broadcast: false,
        indicate: false,
        notify: false,
        read: true,
        reliableWrite: false,
        writableAuxiliaries: false,
        write: false,
        writeWithoutResponse: false,
        valor: "",
      },
    ],
  },
  generic_attribute: {
    name: "generic_attribute",
    uuid: "00001801-0000-1000-8000-00805f9b34fb",
    caracteristicas: [
      {
        name: "gatt.service_changed",
        uuid: "00002a05-0000-1000-8000-00805f9b34fb",
        authenticatedSignedWrites: false,
        broadcast: false,
        indicate: true,
        notify: false,
        read: false,
        reliableWrite: false,
        writableAuxiliaries: false,
        write: false,
        writeWithoutResponse: false,
        valor: "",
      },
    ],
  },
  uart: {
    name: "uart",
    uuid: "6e400001-b5a3-f393-e0a9-e50e24dcca9e", //D
    caracteristicas: [
      {
        name: "RX",
        uuid: "6e400002-b5a3-f393-e0a9-e50e24dcca9e", //E
        authenticatedSignedWrites: false,
        broadcast: false,
        indicate: false,
        notify: false,
        read: false,
        reliableWrite: false,
        writableAuxiliaries: false,
        write: true,
        writeWithoutResponse: true,
        valor: "",
      },
      {
        name: "TX",
        uuid: "6e400003-b5a3-f393-e0a9-e50e24dcca9e", //F
        authenticatedSignedWrites: false,
        broadcast: false,
        indicate: false,
        notify: true,
        read: false,
        reliableWrite: false,
        writableAuxiliaries: false,
        write: false,
        writeWithoutResponse: false,
        valor: "",
      },
    ],
  },
};
const descriptors = ["00002902-0000-1000-8000-00805f9b34fb"]; //C

const onDisconnected = function () {
  console.error("Se desconectó.");
};

const valores = {};
let device = null;
let server = null;
let txService = null;
let txCaracteristica = null;
let rxCaracteristica = null;
let serviceChanged = null;
let tagChanged = null;
const textEnconder = new TextEncoder();

const scan = async function () {
  try {
    device = await navigator.bluetooth.requestDevice({
      acceptAllDevices: true,
      optionalServices: Object.values(infoServicios).map((s) => s.uuid),
    });

    console.log({ device });

    device.addEventListener("gattserverdisconnected", onDisconnected);
    server = await device.gatt.connect();
    connected.value = true;

    console.log({ server });

    serviceChanged = await server.getPrimaryService(
      infoServicios.generic_attribute.uuid
    );
    tagChanged = await serviceChanged.getCharacteristic(
      infoServicios.generic_attribute.caracteristicas[0].uuid
    );

    await activarNotificacionesTx();
    // const algo = new Uint8Array(1);
    const respuesta = await rxCaracteristica.writeValue(
      hexStringToArrayBuffer("A55A0009E401EC0D0A")
    );
    console.log({ respuesta });

    // Object.values(infoServicios).forEach(async (descripcion) => {
    //   const servicio = await server.getPrimaryService(descripcion.uuid);

    //   descripcion.caracteristicas.forEach(async (charDesc) => {
    //     const caracteristica = await servicio.getCharacteristic(charDesc.uuid);
    //     let valor = null;
    //     try {
    //       valor = await caracteristica.readValue();
    //     } catch (e) {}
    //     console.log("Servicio: " + descripcion.uuid);
    //     console.log({ caracteristica });
    //     console.log({ valor });
    //   });
    // });

    // const ENABLE_NOTIFICATION_VALUE = new Uint8Array(2);
    // ENABLE_NOTIFICATION_VALUE[0] = 0x01;
    // ENABLE_NOTIFICATION_VALUE[1] = 0x00;
    // await descriptor.writeValue(valorD);
  } catch (error) {
    console.error("CANCELADO: " + error.message);
  }
};

async function activarNotificacionesTx() {
  txService = await server.getPrimaryService(infoServicios.uart.uuid);
  rxCaracteristica = await txService.getCharacteristic(
    infoServicios.uart.caracteristicas[0].uuid
  );
  txCaracteristica = await txService.getCharacteristic(
    infoServicios.uart.caracteristicas[1].uuid
  );
  const algo = await txCaracteristica.startNotifications();

  algo.addEventListener("characteristicvaluechanged", async function (event) {
    let botonApretado = event.target.value;
    console.log({ botonApretado });

    // const otro = await tagChanged.readValue();
    // console.log({ otro });
    // const valor = target.readValue();
    // for (let i = 0; i < valor.byteLength; i++) {
    //   const v = valor.getUint8(i) & 0xff;
    //   let bits = v.toString(2).padStart(8, "0");
    //   console.log(v);
    // }
  });
}

let disponible = ref(false);
let dispositivos = ref([]);
let connected = ref(false);

navigator.bluetooth.getAvailability().then(function (res) {
  disponible.value = res;
});
function hexStringToArrayBuffer(hexString) {
  // remove the leading 0x
  hexString = hexString.replace(/^0x/, "");

  // ensure even number of characters
  if (hexString.length % 2 != 0) {
    console.log(
      "WARNING: expecting an even number of characters in the hexString"
    );
  }

  // check for some non-hex characters
  var bad = hexString.match(/[G-Z\s]/i);
  if (bad) {
    console.log("WARNING: found non-hex characters", bad);
  }

  // split the string into pairs of octets
  var pairs = hexString.match(/[\dA-F]{2}/gi);

  // convert the octets to integers
  var integers = pairs.map(function (s) {
    return parseInt(s, 16);
  });

  var array = new Uint8Array(integers);
  console.log(array);

  return array.buffer;
}
</script>
