<template>
  <q-item clickable v-ripple :to="link" exact>
    <q-item-section v-if="icon" avatar>
      <q-icon :name="icon" :color="color" size="2.6em" />
    </q-item-section>

    <q-item-section>
      <q-item-label>{{ title }}</q-item-label>
      <q-item-label caption>{{ caption }}</q-item-label>
    </q-item-section>
  </q-item>
</template>

<script setup>
import { defineProps } from "vue";

const props = defineProps({
  title: {
    type: String,
    required: true,
  },

  caption: {
    type: String,
    default: "",
  },

  link: {
    type: String,
    default: "#",
  },

  icon: {
    type: String,
    default: "",
  },

  color: {
    type: String,
    default: "",
  },
});
</script>
